{% extends "FCReservationBundle::layout.html.twig" %}

{% block scriptHead %}
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>
{% endblock %}

{% block title %}{{ parent() }} - Billetterie{% endblock %}

{% block body %}
    <form method="post">
        <div class="infoReservation">
            <input type="submit" name="btnTarif" value="Tarif" placeholder="Information concernant les tarifs" />
            <input type="submit" name="btnHoraire" value="Horaire" placeholder="Information concernant les horaires d'ouverture" />
            {#{% if session.dateVisite is defined %}#}
            <input type="submit" name="btnReset" value="Annuler la commande en cours" />
            {#{% endif %}#}
        </div>
    </form>
    <form method="post">
        <h1>Page de réservation - Étape 1/3</h1>

        <fieldset>
            <legend>1 - Choisissez votre date</legend>
            <div id="choixDate">
                <div>
                    <input type="date" id="inputChoixDate" required/>
                    {#<span class="validity"></span>#}
                </div>
                {% if session.dateVisite is not defined %}
                    <div>
                        <input type="submit" name="btnSelectDateVisite" value="Sélection du jour de la visite" />
                    </div>
                {% endif %}
            </div>
        </fieldset><br />

        <fieldset>
            <legend>2 - Choisissez votre type de billet</legend>
            {# Choix du type de billet #}
            <div id="choixTypeBillet">
                {# si une date de visite valide a été sélectionné,  #}
                {% if session.dateVisite is defined %}
                    {% if ("now"|date("H:i", "Europe/Paris") < "14:00"|date("H:i")) or (session.dateVisite|date("d/m/Y") != "now"|date("d/m/Y")) %}
                        <div>
                            <input type="radio" name="typeBillet" value="billetJournee" id="billetJournee" />
                            <label for="billetJournee">Billet journée (de 9H00 à 20H)</label>
                        </div>
                    {% endif %}
                    <div>
                        <input type="radio" name="typeBillet" value="billetDemiJournee" id="billetDemiJournee" />
                        <label for="billetDemiJournee">Billet demi-journée (de 14H00 à 20H)</label>
                    </div>
                {% endif %}
            </div>
        </fieldset><br />

        <fieldset>
            <legend>3 - Choisissez le nombre de billet désiré</legend>
            {# choix du nombre de billet en fonction du nombre de billet déjà acheté sur la journée #}
            <div id="choixNbBillet">
                    {% if session.nbBilletMax is defined %}
                        <div>
                            <label for="ldChoixNbBillet">Combien de billet souhaitez-vous commander ?</label>
                            <select name="ldChoixNbBillet">
                                <option selected>0</option>
                                {#{% for i in 1..session.nbBilletMax %}#}
                                {% for i in 1..6 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <input type="submit" name="btnSelectNbBillet" value="Valider le nombre de billet à commander" />
                        </div>
                    {% endif %}
            </div>
        </fieldset><br />

        <fieldset>
            <legend>4 - Saisissez les informations des visiteurs pour chaque billet</legend>
            {# Affiche les informations à saisir pour chaque billet #}
            <div id="infosBillet">
                {% if session.nbBilletChoisi is defined %}
                    {% for j in 1..session.nbBilletChoisi %}
                    {#{% for j in 1..6 %}#}
                        <div id="infoBillet{{ j }}" class="bandeauBillet">
                            <strong>Billet n°{{ j }}</strong>
                            <p>
                                <input type="checkbox" name="tarifReduit{{ j }}" id="tarifReduit{{ j }}">
                                <label for="tarifReduit{{ j }}">Tarif réduit (étudiant, employé du musée,
                                    d’un service du Ministère de la Culture, militaire…)</label>
                            </p>
                            <p>
                                <label for="txNom{{ j }}">NOM*</label>
                                <input type="text" name="txNom{{ j }}" id="txNom{{ j }}" required>

                                <label for="txPrenom{{ j }}">Prénom*</label>
                                <input type="text" name="txPrenom{{ j }}" id="txPrenom{{ j }}" required>
                            </p>
                            <p>
                                <label for="txDdn{{ j }}">Date de naissance*</label>
                                <input type="date" name="txDdn{{ j }}" id="txDdn{{ j }}" required>

                                <label for="txPays{{ j }}">Pays de naissance*</label>
                                <input type="text" name="txPays{{ j }}" id="txPays{{ j }}" required>
                            </p>
                        </div><br />
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset><br />

        <fieldset>
            <legend>5 - Réservation de vos places</legend>
            {# Affiche un bouton continuer pour le paiement de la commande #}
            <div id="reserver">
                {% if session.nbBilletChoisi is defined %}
                    <div>
                        <input type="submit" name="btnReserverVisite" value="Réserver vos places">
                    </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
    
    {#<script src="../assets/js/indexReservation.js"></script>#}
    
{% endblock %}