{% extends "FCReservationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Étape 2 - Réservation{% endblock %}

{% block body %}

    {{ include('FCReservationBundle::manageCommande.html.twig') }}

    <div class="row resume">
        {#<div class="row">#}
            <p class="bg-info text-center col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                Vous souhaitez réserver {{ commande.nbTicket }} ticket{% if commande.nbTicket > 1 %}s{% endif %}
                    {% if commande.demiJournee %}demi-{% endif %}journée pour la date du {{ commande.dateVisite|date("d/m/Y") }}
            </p>
        {#</div>#}
    </div>
    <div class="row">

        {{ form_start(form, {'attr': {'class': 'col-sm-offset-3 col-sm-6'}}) }}

        {# Affiche les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        <div id="ticket-container"
             data-template='
                {% filter escape %}{% spaceless %}
                    <div class="tickets"><br />
                    <h3><i class="glyphicon glyphicon-user"></i>Ticket n°<span class="num-ticket"></span> :</h3>
                    {{ include('@FCReservation/Reserve/prototypeTicket.html.twig', { 'ticket': form.tickets.vars.prototype}) }}
                    </div>
                {% endspaceless %}{% endfilter %}'
        >
        {% for ticket in form.tickets %}
            <div class="tickets">
                <br />
                <h3><i class="glyphicon glyphicon-user"></i>Ticket n°<span class="num-ticket">{{ loop.index }}</span> : </h3>

                {{ include('FCReservationBundle:Reserve:prototypeTicket.html.twig', {'ticket': ticket}) }}
            </div>
        {% endfor %}
        </div>

        <br /><br />
        {{ form_widget(form.Suivant, {'attr': {'class': 'commande-submit btn btn-primary col-lg-4 col-xs-6'}}) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fcreservation/js/infoTicket.js') }}"></script>
{% endblock %}