{% extends "FCReservationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Réservation étape 2{% endblock %}


{% block body %}

    {{ include('FCReservationBundle::manageCommande.html.twig') }}

    <div class="row resume">
        <div class="row">
            <p class="bg-info text-center col-sm-offset-4 col-sm-4">
                Vous souhaitez réserver {{ commande.nbTicket }} ticket{% if commande.nbTicket > 1 %}s{% endif %}
                    {% if commande.demiJournee %}demi-{% endif %}journée pour la date du {{ commande.dateVisite|date("d/m/Y") }}
            </p>
        </div>
    </div>
    <div class="row">

        {{ form_start(form, {'attr': {'class': 'col-sm-offset-3 col-sm-6'}}) }}

        {# Affiche les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {% for ticket in form.tickets %}
            <div class="ticket">
                <h3><i class="glyphicon glyphicon-user"></i>Ticket n°{{ loop.index }} : </h3>

                {{ include('FCReservationBundle:Reserve:prototypeTicket.html.twig', {'ticket': ticket}) }}
            </div><br />
        {% endfor %}

        {{ form_widget(form.Suivant, {'attr': {'class': 'commande-submit btn btn-primary'}}) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>
{% endblock %}