{#<table>#}
<table class="table-recap-ticket">
<tr>
    <td colspan=2>
    <strong><i class="glyphicon glyphicon-user"></i>Ticket n°{{ loop.index }} : {{ ticket.nom|upper }} {{ ticket.prenom|capitalize }}</strong>
    </td>
</tr>
    {% if ticket.tarifReduit == true %}
    <tr>
        <td colspan=2>
            <i>
                Le <strong>tarif réduit</strong> a été coché pour ce billet.<br />
                La personne concernée par ce billet devra présenter sa carte
                d’étudiant, militaire ou équivalent lors de l’entrée pour prouver
                qu’elle bénéficie bien du tarif réduit.
            </i>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>Né(e) le : {{ ticket.ddn|date("d/m/Y") }}</td>
        <td>Age : {{ servTicket.age( ticket.ddn, commande.dateVisite ) }} ans</td>
    </tr>
    <tr>
        <td>Pays de naissance : {{ ticket.pays|upper }}</td>
        <td>Prix du ticket :
            <strong>
            {% if ticket.prix == 0 %}
                Gratuit
            {% else %}
                {{ ticket.prix }} euros
            {% endif %}
            </strong>
        </td>
    </tr>

</table>
<br />