<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Billetterie du Louvre{% endblock %}</title>

        {% block stylesheets %}
            {# Chargement du CSS de bootstrap via CDN #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            {#Feuille de style perso#}
            <link rel="stylesheet" href="{{ asset('bundles/fcreservation/css/style.css') }}">

            <link rel="stylesheet" href="{{ asset('bundles/fcreservation/css/jquery-ui.css') }}">
            <script src="{{ asset('bundles/fcreservation/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/fcreservation/js/jquery-ui.js') }}"></script>
        {% endblock %}

        {% block scriptHead %}{% endblock %}
    </head>

    <body>
        <div class="container">

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('home') }}" title="LE LOUVRE">
                            <img src="{{ asset('bundles/fcreservation/images/louvre-logo.jpg') }}" alt="logo du musée du louvre">
                            <span id="titre-nav">LE LOUVRE</span>
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="nav-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="{{ path('info-global') }}" class="infos-toggle">Informations</a></li>
                            <li ><a href="{{ path('info-tarif') }}" class="tarifs-toggle">Tarifs</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="corps">

                <div id="header" class="jumbotron"></div>

                <div id="contenu-principal">
                    {{ include('FCReservationBundle:Reserve:infoMessages.html.twig') }}

                    {% block body %}{% endblock %}
                </div>

            </div>
            <footer>
                <p class="text-center"><i>&copy {{ "now"|date('Y') }} - Fabien Cagniet, Musée du Louvre</i></p>
            </footer>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block javascripts %}

            {#<script src="{{ asset('bundles/fcreservation/js/info.js') }}"></script>#}

        {% endblock %}

    </body>
</html>