{% extends "FCReservationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Dernière étape - Paiement{% endblock %}

{% block body %}

    {{ include('FCReservationBundle::manageCommande.html.twig') }}

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <legend>Paiement de votre commande</legend>
            <div id="recapCommande">
                <p>
                    Votre commande prévue le <strong>{{ commande.dateVisite|date("d/m/Y") }}
                        {% if commande.demiJournee %} après {{ heureDebDemiJournee }}H{% endif %}</strong>
                    comporte <strong>{{ commande.nbTicket }} ticket{% if commande.nbTicket > 1 %}s{% endif %}</strong>.<br />
                </p>
                <p>
                    <strong>Montant total : {{ commande.prix }} euros</strong>
                </p>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_public_key }}"
                        data-amount="{{ commande.prix * 100 }}"
                        data-name="Réservation"
                        data-description="Vous recevrez vos tickets par email"
                        data-image="{{ asset('bundles/fcreservation/images/louvre-logo.jpg') }}"
                        data-locale="auto"
                        data-currency="eur"
                        data-email="{{ commande.courriel }}">
                </script>
                <button class="btn btn-primary  col-lg-offset-4 col-lg-4 col-xs-offset-3 col-xs-6">Paiement CB</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $('.stripe-button-el').hide();
    </script>

{% endblock %}