{% extends "FCReservationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Dernière étape - Paiement{% endblock %}

{% block body %}

    {{ include('FCReservationBundle::manageCommande.html.twig') }}

    <fieldset class="row">
        <legend>Paiement de votre commande</legend>
        <div id="recapCommande">
            <p>
                Votre commande comporte <strong>{{ commande.nbTicket }} ticket{% if commande.nbTicket > 1 %}s{% endif %}</strong>
                pour un montant total de <strong>{{ commande.prix }} euros</strong> et pour la date du <strong>{{ commande.dateVisite|date("d/m/Y") }}</strong>.
            </p>
        </div>
    </fieldset><br />

    <div class="row">

        <form method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_public_key }}"
                    data-amount="{{ commande.prix * 100 }}"
                    data-name="Paiement de votre commande"
                    data-description="Widget"
                    data-image="{{ asset('bundles/fcreservation/images/louvre-logo.jpg') }}"
                    data-locale="auto"
                    data-currency="eur">
            </script>
            // bouton ?
        </form>

    </div>
{% endblock %}